.count-input {
  margin-block-end: 0.5rem;
  position: relative;

  & label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 250px;
  }

  & input {
    padding: 0.25rem 1rem;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 16px;
  }
}

.count-input-reset {
}
